body {
  align-items: center;
  background-color: white;
  display: flex;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

h1 {
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

#globe {
  margin: auto;
}

#landing-div {
  text-align: center;
}

#search-intro {
  align-items: center;
}

#four-spheres {
  height: fit-content;
  width: fit-content;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
